## AutoKeras AutoML Sample Code

In [1]:
import pandas as pd
import numpy as np
from sklearn import metrics
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
!pip install autokeras

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting autokeras
  Downloading autokeras-1.1.0-py3-none-any.whl (148 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 148.6/148.6 kB 5.8 MB/s eta 0:00:00
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from autokeras) (23.1)
Requirement already satisfied: tensorflow>=2.8.0 in /usr/local/lib/python3.10/dist-packages (from autokeras) (2.12.0)
Collecting keras-tuner>=1.1.0 (from autokeras)
  Downloading keras_tuner-1.3.5-py3-none-any.whl (176 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 176.1/176.1 kB 10.0 MB/s eta 0:00:00
Collecting keras-nlp>=0.4.0 (from autokeras)
  Downloading keras_nlp-0.5.2-py3-none-any.whl (527 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 527.7/527.7 kB 22.9 MB/s eta 0:00:00
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from autokeras) (1.5.3)
Requirement already satisfied: absl-py in /usr/local/lib/python3.10/dist-packages (from keras-nlp>=0.4.0->autokeras) (1.4.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from keras-nlp>=0.4.0->autokeras) (1.22.4)
Collecting tensorflow-text (from keras-nlp>=0.4.0->autokeras)
  Downloading tensorflow_text-2.12.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (6.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.0/6.0 MB 57.0 MB/s eta 0:00:00
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from keras-tuner>=1.1.0->autokeras) (2.27.1)
Collecting kt-legacy (from keras-tuner>=1.1.0->autokeras)
  Downloading kt_legacy-1.0.5-py3-none-any.whl (9.6 kB)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow>=2.8.0->autokeras) (1.6.3)
Requirement already satisfied: flatbuffers>=2.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow>=2.8.0->autokeras) (23.3.3)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow>=2.8.0->autokeras) (0.4.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow>=2.8.0->autokeras) (0.2.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.10/dist-packages (from tensorflow>=2.8.0->autokeras) (1.54.0)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow>=2.8.0->autokeras) (3.8.0)
Requirement already satisfied: jax>=0.3.15 in /usr/local/lib/python3.10/dist-packages (from tensorflow>=2.8.0->autokeras) (0.4.10)
Requirement already satisfied: keras<2.13,>=2.12.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow>=2.8.0->autokeras) (2.12.0)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow>=2.8.0->autokeras) (16.0.0)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.10/dist-packages (from tensorflow>=2.8.0->autokeras) (3.3.0)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in /usr/local/lib/python3.10/dist-packages (from tensorflow>=2.8.0->autokeras) (3.20.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from tensorflow>=2.8.0->autokeras) (67.7.2)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow>=2.8.0->autokeras) (1.16.0)
Requirement already satisfied: tensorboard<2.13,>=2.12 in /usr/local/lib/python3.10/dist-packages (from tensorflow>=2.8.0->autokeras) (2.12.2)
Requirement already satisfied: tensorflow-estimator<2.13,>=2.12.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow>=2.8.0->autokeras) (2.12.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow>=2.8.0->autokeras) (2.3.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.10/dist-packages (from tensorflow>=2.8.0->autokeras) (4.5.0)
Requirement already satisfied: wrapt<1.15,>=1.11.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow>=2.8.0->autokeras) (1.14.1)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow>=2.8.0->autokeras) (0.32.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->autokeras) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->autokeras) (2022.7.1)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.10/dist-packages (from astunparse>=1.6.0->tensorflow>=2.8.0->autokeras) (0.40.0)
Requirement already satisfied: ml-dtypes>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from jax>=0.3.15->tensorflow>=2.8.0->autokeras) (0.1.0)
Requirement already satisfied: scipy>=1.7 in /usr/local/lib/python3.10/dist-packages (from jax>=0.3.15->tensorflow>=2.8.0->autokeras) (1.10.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow>=2.8.0->autokeras) (2.17.3)
Requirement already satisfied: google-auth-oauthlib<1.1,>=0.5 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow>=2.8.0->autokeras) (1.0.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow>=2.8.0->autokeras) (3.4.3)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow>=2.8.0->autokeras) (0.7.0)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow>=2.8.0->autokeras) (1.8.1)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow>=2.8.0->autokeras) (2.3.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner>=1.1.0->autokeras) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner>=1.1.0->autokeras) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner>=1.1.0->autokeras) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner>=1.1.0->autokeras) (3.4)
Requirement already satisfied: tensorflow-hub>=0.8.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow-text->keras-nlp>=0.4.0->autokeras) (0.13.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow>=2.8.0->autokeras) (5.3.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow>=2.8.0->autokeras) (0.3.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.10/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow>=2.8.0->autokeras) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.10/dist-packages (from google-auth-oauthlib<1.1,>=0.5->tensorboard<2.13,>=2.12->tensorflow>=2.8.0->autokeras) (1.3.1)
Requirement already satisfied: MarkupSafe>=2.1.1 in /usr/local/lib/python3.10/dist-packages (from werkzeug>=1.0.1->tensorboard<2.13,>=2.12->tensorflow>=2.8.0->autokeras) (2.1.2)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in /usr/local/lib/python3.10/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow>=2.8.0->autokeras) (0.5.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.10/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<1.1,>=0.5->tensorboard<2.13,>=2.12->tensorflow>=2.8.0->autokeras) (3.2.2)
Installing collected packages: kt-legacy, keras-tuner, tensorflow-text, keras-nlp, autokeras
Successfully installed autokeras-1.1.0 keras-nlp-0.5.2 keras-tuner-1.3.5 kt-legacy-1.0.5 tensorflow-text-2.12.1

In [3]:
import autokeras as ak

### Regression

#### Load Data

In [4]:
# Load cars data
cars = pd.read_csv('cars.csv')
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38531 entries, 0 to 38530
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   manufacturer_name  38531 non-null  object
 1   model_name         38531 non-null  object
 2   transmission       38531 non-null  object
 3   color              38531 non-null  object
 4   odometer_value     38531 non-null  int64
 5   year_produced      38531 non-null  int64
 6   engine_fuel        38531 non-null  object
 7   engine_has_gas     38531 non-null  bool
 8   engine_type        38531 non-null  object
 9   engine_capacity    38521 non-null  float64
 10  body_type          38531 non-null  object
 11  has_warranty       38531 non-null  bool
 12  state              38531 non-null  object
 13  drivetrain         38531 non-null  object
 14  price_usd          38531 non-null  float64
 15  is_exchangeable    38531 non-null  bool
 16  number_of_photos   38531 non-null  float64
 17  up_counter         38531 non-null  float64
 18  duration_listed    38531 non-null  float64
dtypes: bool(3), float64(5), int64(2), object(9)
memory usage: 4.8+ MB

In [5]:
# Define label column
cars_label = 'price_usd'

In [6]:
# Split data
from sklearn.model_selection import train_test_split
cars_train, cars_test = train_test_split(cars, test_size=0.2, random_state=42)
cars_test_labels = cars_test[cars_label]
cars_test_nolabel = cars_test.drop([cars_label], axis=1)
cars_train_labels = cars_train[cars_label]
cars_train_nolabel = cars_train.drop([cars_label], axis=1)
cars_train.head()

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_has_gas,engine_type,engine_capacity,body_type,has_warranty,state,drivetrain,price_usd,is_exchangeable,number_of_photos,up_counter,duration_listed
37935,Peugeot,307,mechanical,silver,320000,2005,gasoline,False,gasoline,1.6,universal,False,owned,front,7280.0,False,10.0,1.0,45.5
28568,BMW,525,automatic,violet,400000,1997,diesel,False,diesel,2.5,universal,False,owned,rear,2380.0,True,2.5,0.5,2.5
24311,Chevrolet,Captiva,mechanical,grey,79000,2015,diesel,False,diesel,2.2,suv,False,owned,all,20300.0,False,4.5,6.5,30.5
19393,Jeep,Grand Cherokee,automatic,other,500000,2004,diesel,False,diesel,2.7,suv,False,owned,all,9100.0,False,6.5,39.5,151.0
2540,Opel,Astra,mechanical,silver,280000,2007,diesel,False,diesel,1.7,universal,False,owned,front,7000.0,True,4.0,3.0,33.0

In [7]:
cars_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30824 entries, 37935 to 15795
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   manufacturer_name  30824 non-null  object
 1   model_name         30824 non-null  object
 2   transmission       30824 non-null  object
 3   color              30824 non-null  object
 4   odometer_value     30824 non-null  int64
 5   year_produced      30824 non-null  int64
 6   engine_fuel        30824 non-null  object
 7   engine_has_gas     30824 non-null  bool
 8   engine_type        30824 non-null  object
 9   engine_capacity    30814 non-null  float64
 10  body_type          30824 non-null  object
 11  has_warranty       30824 non-null  bool
 12  state              30824 non-null  object
 13  drivetrain         30824 non-null  object
 14  price_usd          30824 non-null  float64
 15  is_exchangeable    30824 non-null  bool
 16  number_of_photos   30824 non-null  float64
 17  up_counter         30824 non-null  float64
 18  duration_listed    30824 non-null  float64
dtypes: bool(3), float64(5), int64(2), object(9)
memory usage: 4.1+ MB

#### Train

In [8]:
regression = ak.StructuredDataRegressor(overwrite=True, max_trials=3)

In [9]:
# Fit model
regression.fit(cars_train_nolabel, cars_train_labels, epochs=10)

Trial 3 Complete [00h 01m 02s]
val_loss: 32600774.0

Best val_loss So Far: 32294994.0
Total elapsed time: 00h 03m 13s
Epoch 1/10
964/964 [==============================] - 3s 2ms/step - loss: 132357104.0000 - mean_squared_error: 132357104.0000
Epoch 2/10
964/964 [==============================] - 2s 2ms/step - loss: 42785172.0000 - mean_squared_error: 42785172.0000
Epoch 3/10
964/964 [==============================] - 3s 3ms/step - loss: 35596416.0000 - mean_squared_error: 35596416.0000
Epoch 4/10
964/964 [==============================] - 3s 3ms/step - loss: 34722740.0000 - mean_squared_error: 34722740.0000
Epoch 5/10
964/964 [==============================] - 2s 2ms/step - loss: 34256388.0000 - mean_squared_error: 34256388.0000
Epoch 6/10
964/964 [==============================] - 2s 2ms/step - loss: 33908744.0000 - mean_squared_error: 33908744.0000
Epoch 7/10
964/964 [==============================] - 3s 3ms/step - loss: 33608388.0000 - mean_squared_error: 33608388.0000
Epoch 8/10
964/964 [==============================] - 3s 3ms/step - loss: 33301324.0000 - mean_squared_error: 33301324.0000
Epoch 9/10
964/964 [==============================] - 2s 2ms/step - loss: 33008292.0000 - mean_squared_error: 33008292.0000
Epoch 10/10
964/964 [==============================] - 2s 2ms/step - loss: 32747288.0000 - mean_squared_error: 32747288.0000

WARNING:absl:Found untraced functions such as _update_step_xla while saving (showing 1 of 1). These functions will not be directly callable after loading.

#### Predict

In [10]:
# Predict with best model
cars_pred_y = regression.predict(cars_test_nolabel)

241/241 [==============================] - 1s 3ms/step
241/241 [==============================] - 0s 2ms/step

#### Evaluate

In [11]:
# Evaluate best model with testing data
print(regression.evaluate(cars_test_nolabel, cars_test_labels))

241/241 [==============================] - 1s 2ms/step - loss: 30894864.0000 - mean_squared_error: 30894864.0000
[30894864.0, 30894864.0]

### Classification

#### Load Data

In [12]:
# Load titanic data
titanic = pd.read_csv('titanic.csv')
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [13]:
# Define label column
titanic_label = 'Survived'

In [14]:
# split the data
from sklearn.model_selection import train_test_split
titanic_train, titanic_test = train_test_split(titanic, test_size=0.2, random_state=42)
titanic_test_labels = titanic_test[titanic_label]
titanic_test_nolabel = titanic_test.drop([titanic_label], axis=1)
titanic_train_labels = titanic_train[titanic_label]
titanic_train_nolabel = titanic_train.drop([titanic_label], axis=1)
titanic_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
331,332,0,1,"Partner, Mr. Austen",male,45.5,0,0,113043,28.5000,C124,S
733,734,0,2,"Berriman, Mr. William John",male,23.0,0,0,28425,13.0000,NaN,S
382,383,0,3,"Tikkanen, Mr. Juho",male,32.0,0,0,STON/O 2. 3101293,7.9250,NaN,S
704,705,0,3,"Hansen, Mr. Henrik Juul",male,26.0,1,0,350025,7.8542,NaN,S
813,814,0,3,"Andersson, Miss. Ebba Iris Alfrida",female,6.0,4,2,347082,31.2750,NaN,S

#### Train

In [15]:
# Instantiate classifier
classification = ak.StructuredDataClassifier(overwrite=True, max_trials=10)

In [16]:
# Fit model
classification.fit(titanic_train_nolabel, titanic_train_labels, epochs=10)

Trial 10 Complete [00h 00m 05s]
val_accuracy: 0.8557692170143127

Best val_accuracy So Far: 0.8846153616905212
Total elapsed time: 00h 00m 52s
Epoch 1/10
23/23 [==============================] - 1s 3ms/step - loss: 0.6948 - accuracy: 0.5449
Epoch 2/10
23/23 [==============================] - 0s 2ms/step - loss: 0.6656 - accuracy: 0.6348
Epoch 3/10
23/23 [==============================] - 0s 3ms/step - loss: 0.6405 - accuracy: 0.6376
Epoch 4/10
23/23 [==============================] - 0s 3ms/step - loss: 0.6048 - accuracy: 0.6826
Epoch 5/10
23/23 [==============================] - 0s 3ms/step - loss: 0.5651 - accuracy: 0.7303
Epoch 6/10
23/23 [==============================] - 0s 3ms/step - loss: 0.5329 - accuracy: 0.7458
Epoch 7/10
23/23 [==============================] - 0s 3ms/step - loss: 0.5166 - accuracy: 0.7795
Epoch 8/10
23/23 [==============================] - 0s 3ms/step - loss: 0.4716 - accuracy: 0.8118
Epoch 9/10
23/23 [==============================] - 0s 3ms/step - loss: 0.4602 - accuracy: 0.7935
Epoch 10/10
23/23 [==============================] - 0s 2ms/step - loss: 0.4511 - accuracy: 0.8104

WARNING:absl:Found untraced functions such as _update_step_xla while saving (showing 1 of 1). These functions will not be directly callable after loading.

#### Predict

In [17]:
# Predict with best model
titanic_pred_y = classification.predict(titanic_test_nolabel)

6/6 [==============================] - 0s 5ms/step
6/6 [==============================] - 0s 2ms/step

#### Evaluate

In [18]:
print(classification.evaluate(titanic_test_nolabel, titanic_test_labels))

6/6 [==============================] - 0s 3ms/step - loss: 0.5555 - accuracy: 0.7877
[0.5555302500724792, 0.7877094745635986]